<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>posts by id</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Post by id</h1>
     <div class="post">
        <h3 class="id"><%= post.id %></h3>
        <h3 class="user">@ <%=post.username%></h3>
        <h3 class="content"> <%=post.content%></h3>
        
        <br>
        <a href="/posts">return to main page</a>

     </div>



    
</body>
</html>

