<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First EJs Home Page</title>
</head>
<body>
    <h1>Welcome to My EJS Page</h1>
    <h3><%=["hello","bonjour","nomoshkar"][1]%></h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit
        . Tenetur, tempore quasi explicabo veritatis adipisci
         dolorum ipsam ex suscipit qui ut, porro tempora quae corrupti
          ipsum aspernatur ullam. Possimus, debitis sint.
    </p>
    <button>click me !</button>

</body>
</html>